{% extends 'base.html.twig' %}

{% block mainctn %}
<h2>Users <a class="btn btn-success btn-sm" role="button" aria-pressed="true" href=" {{ path('user_new') }} ">+ NEW</a></h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td class="text-right">
                <a href="{{ path('user_edit', {'id': user.id }) }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Edit</a>
                <a href="{{ path('user_delete', {'id': user.id }) }}" class="delete btn btn-danger btn-sm" role="button" aria-pressed="true">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
