<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        <div class="main">
            {% block navctn %}
            {% set route = app.request.get('_route') %}
            <ul role="tablist" class="nav nav-tabs justify-content-centers">
                <li class="nav-item">
                    <a class="nav-link {{ ( 'beer' in route or route == 'beers') ? 'active' }}" href="{{ path('beers') }}">Beers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'tag' in route ? 'active' }}" href="{{ path('tags') }}">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'brand' in route ? 'active' }}" href="{{ path('brands') }}">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'user' in route ? 'active' }}" href="{{ path('users') }}">Users</a>
                </li>
            </ul>
            {% endblock %}
            {% block mainctn %}<div></div>{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
