{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block mainctn %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                <br /><br />{{ message }} <br />
                <a class="btn btn-link btn-sm" role="button" aria-pressed="true" href=" {{ path('beers') }} ">< Go back</a>
            </div>
    {% endfor %}
    {% if error %}
        <div class="flash-notice">
            <br /><br />{{ error }} <br />
        </div>
    {% endif %}
{% endblock %}