{% extends 'base.html.twig' %}


{% block navctn %}{% endblock %}

{% block mainctn %}

<h1>Les meilleures bières de monde</h1>

<div class="row">
    {% for beer in beers %}
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/280x120" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ beer.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ beer.brand_id.name }}</h6>
                {% for tag in beer.tags %}
                    <a href="#" class="card-link">#{{ tag.name }}</a>
                {% endfor %}
            </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Plus d'informations</a>
                    <div style="display:none;" >{{ beer.description }}</div>
                </div>
        </div>
    </div>
    {% endfor %}
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Descriptif</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}