{% extends 'base.html.twig' %}

{% block mainctn %}
<h2>Beers <a class="btn btn-success btn-sm" role="button" aria-pressed="true" href=" {{ path('beer_new') }} ">+ NEW</a></h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Tags</th>
            <th scope="col">Author</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for beer in beers %}
        <tr>
            <th scope="row">{{ beer.id }}</th>
            <td>{{ beer.name }}</td>
            <td>{{ beer.brand_id.name }}</td>
            <td>{% for tag in beer.tags %}
                    {{ tag.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}</td>
            <td>{{ beer.user_id.username }}</td>
            <td class="text-right">
                <a href="{{ path('beer_edit', {'id': beer.id }) }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Edit</a>
                <a href="{{ path('beer_delete', {'id': beer.id }) }}" class="delete btn btn-danger btn-sm" role="button" aria-pressed="true">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}