
//$icon-font-path: "~bootstrap/scss/bootstrap";

// set if you're also including font-awesome
// $fa-font-path: "~font-awesome/fonts";
@import '~bootstrap/scss/bootstrap';

.main {
    padding:32px;
    > ul {
        width:100%;
        list-style-type: none;
        padding: 0px;
        margin:0px 0px 32px 0px;
    }
    > h2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        margin-bottom:32px;
    }
    .card {
        margin:32px 0px 0px 0px;
    }
}

@media (max-width: 320px) { 

    html {
        font-size:90%;
        .main {
            padding:16px;
        }
    } 
    

}
