{% extends 'base.html.twig' %}

{% block mainctn %}
<h2>Brands <a class="btn btn-success btn-sm" role="button" aria-pressed="true" href=" {{ path('brand_new') }} ">+ NEW</a></h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Brand name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for brand in brands %}
        <tr>
            <th scope="row">{{ brand.id }}</th>
            <td>{{ brand.name }}</td>
            <td class="text-right">
                <a href="{{ path('brand_edit', {'id': brand.id }) }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Edit</a>
                <a href="{{ path('brand_delete', {'id': brand.id }) }}" class="delete btn btn-danger btn-sm" role="button" aria-pressed="true">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
